@use './base/reset';
@use './base/fonts';
@use './base/variables' as *;
@use './base/mixins' as *;

@import "../../icons/style.css";

body {
  background-color: #000;
  h1 {
    color: white;
    background-color: purple;
  }
  button {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: red;
    background-color: #fff;
  }
}
